/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/


.container {
    display: flex;

    .input {
        width: 50%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-right: 10px;
        margin-right: 20px;
    }

    .btn {
        padding: 10px 20px;
        background-color: #f1f1f1;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn:hover {
        background-color: #e1e1e1;
    }

    .error {
        color: red;
        font-size: 12px;
    }
}
