.formContainer {
  border: 1px solid white;
  max-height: 600px;
  max-width: 500px;
  border-radius: 50px;
  padding: 10px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  .imageSection,
  .contentSection {
    border: 1px solid black;
    width: 45%;
  }
  .imageSection {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
